<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patron.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />
    
	<!-- Permissions -->
	<permission android:name="com.patron.main.permission.UA_DATA" android:protectionLevel="signature" />
	<uses-permission android:name="com.patron.main.permission.UA_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.patron.main.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.patron.main.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- OPTIONAL - This permission is only necessary if your app has multiple processes -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- END OPTIONAL Urban Airship Settings -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
 
    <!-- IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
         to match your app's package name + ".permission.C2D_MESSAGE". -->
    <permission android:protectionLevel="signature"
        android:name="com.patron.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.parse.starter.permission.C2D_MESSAGE" />
    
    <application
        android:icon="@drawable/app_logo"
        android:name="com.patron.system.Patron"
        android:allowClearUserData="true"
        android:enabled="true"
        android:label="@string/appName"
        android:allowBackup="true">

        <!-- API Keys -->
        <meta-data android:name="com.crashlytics.ApiKey"
            android:value="74453a2a9b59155feaa4e4e36cadf6a83a6eecd1 "/>
        
        <!-- Intent Receivers -->
        <receiver android:name="com.urbanairship.CoreReceiver" />  
        <receiver android:name="com.patron.system.FlashIntentReceiver" />

        <!-- Appsee -->
        <service android:name="com.appsee.AppseeBackgroundUploader" />

        <!-- Parse -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.patron" />
            </intent-filter>
        </receiver>

        <!-- The Login Screen Activity -->
        <activity
            android:name="com.patron.main.FlashLogin"
            android:label="@string/titleActivityLogin"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/appName">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <!-- The Home Screen Activity -->
        <activity
            android:name="com.patron.main.FlashHome"
            android:label="@string/titleActivityHome"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Profile Screen Activity -->
        <activity
            android:name="com.patron.main.FlashProfile"
            android:label="@string/titleActivityProfile"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashHome" />
        </activity>

        <!-- The Create Account Screen Activity -->
        <activity
            android:name="com.patron.main.FlashCreateAccount"
            android:label="@string/titleActivityCreateAccount"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.patron.main.FlashLogin">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashLogin" />
        </activity>

        <!-- The Payment Screen Activity -->
        <activity
            android:name="com.patron.main.FlashPayment"
            android:label="@string/titleActivityPayment"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.patron.main.FlashProfile">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashProfile" />
        </activity>

        <!-- The Add Card Screen Activity -->
        <activity
            android:name="com.patron.main.FlashAddCard"
            android:label="@string/titleActivityAddCard"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.patron.main.FlashPayment">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashPayment" />
        </activity>

        <!-- The Add Bank Account Screen Activity -->
        <activity
            android:name="com.patron.main.FlashAddBankAccount"
            android:label="@string/titleActivityAddBank"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.patron.main.FlashPayment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashPayment" />
        </activity>

        <!-- The Remove Payment Screen Activity -->
        <activity
            android:name="com.patron.main.FlashRemovePayment"
            android:label="@string/titleActivityRemovePayment"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashProfile" />
        </activity>
        
        <!-- The Menu Screen Activity -->
        <activity
            android:name="com.patron.main.FlashMenu"
            android:label="@string/titleActivityMenu"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashHome">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashHome" />
        </activity>
        
        <!-- The Cart Screen Activity -->
        <activity
            android:name="com.patron.main.FlashCart"
            android:label="@string/titleActivityCart"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashMenu">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashMenu" />
        </activity>
        
        <!-- The Vendors Screen Activity -->
        <activity
            android:name="com.patron.main.FlashVendors"
            android:label="@string/titleActivityLocations"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashHome">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashHome" />
        </activity>
        
        <!-- The Codes Screen Activity -->
        <activity
            android:name="com.patron.main.FlashCodes"
            android:label="@string/titleActivityCodes"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashHome">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashHome" />
        </activity>
        
        <!-- The Scan Screen Activity -->
        <activity
            android:name="com.patron.main.FlashScan"
            android:label="@string/titleActivityScan"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashCodes">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashCodes" />
        </activity>
        
        <!-- The Search Vendors Activity -->
        <activity
            android:name="com.patron.main.FlashSearchVendors"
            android:label="@string/titleActivitySearchVendors"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashVendors">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashVendors" />
        </activity>
        
        <!-- The Search Items Activity -->
        <activity
            android:name="com.patron.main.FlashSearchItems"
            android:label="@string/titleActivitySearchItems"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashMenu">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashMenu" />
        </activity>
        
        <!-- The Settings Activity -->
        <activity
            android:name="com.patron.main.FlashSettings"
            android:label="@string/titleActivitySettings"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashHome">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashHome" />
        </activity>
        
        <!-- The Help Activity -->
        <activity
            android:name="com.patron.main.FlashHelp"
            android:label="@string/titleActivityHelp"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:parentActivityName="com.patron.main.FlashHome">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patron.main.FlashHome" />
        </activity>
        
	<!-- Urban Airship -->
	<provider android:name="com.urbanairship.UrbanAirshipProvider"
		android:authorities="com.patron.main.urbanairship.provider"
		android:permission="com.patron.main.permission.UA_DATA"
		android:exported="true"
		android:multiprocess="true" />
	<service android:name="com.urbanairship.push.PushService" />
	<receiver android:name="com.urbanairship.CoreReceiver" />
	<receiver android:name="com.urbanairship.push.GCMPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
		<intent-filter>
			<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
			<category android:name="com.patron.main" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.PACKAGE_REPLACED" />
			<data android:scheme="package" />
		</intent-filter>
	</receiver>
	<service android:name="com.urbanairship.analytics.EventService" />
	<service android:name="com.urbanairship.richpush.RichPushUpdateService" />
	<activity android:name="com.urbanairship.actions.ActionActivity" />
	<service android:name="com.urbanairship.actions.ActionService" />
	<activity
		android:name="com.urbanairship.actions.LandingPageActivity"
		android:parentActivityName="com.patron.main.MainActivity"
		android:exported="false">
		<!-- MODIFICATION REQUIRED set or remove the parent activity -->
		<meta-data
			android:name="android.support.PARENT_ACTIVITY"
			android:value="com.patron.main.FlashHome" />
		<intent-filter>
			<action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION" />
			<data android:scheme="http" />
			<data android:scheme="https" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
	</activity>
        
    </application>

</manifest>
