<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.endeal.patron"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="7"
    android:versionName="1">

    <uses-sdk
        android:minSdkVersion="10"
        tools:overrideLibrary="com.mikepenz.actionitembadge.library"
        android:targetSdkVersion="22" />

	<!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:name="com.endeal.patron.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.endeal.patron.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:icon="@drawable/logo_app"
        android:logo="@drawable/logo_app"
        android:name="com.endeal.patron.system.PatronApplication"
        android:allowClearUserData="true"
        android:enabled="true"
        android:label="@string/globalAppName"
        android:allowBackup="true">

        <!-- API Keys -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/appId"/>

        <!-- Intent Receivers -->
        <receiver android:name="com.endeal.patron.system.PatronIntentReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.endeal.patron.intent.APPBOY_PUSH_RECEIVED" />
                <action android:name="com.endeal.patron.intent.APPBOY_NOTIFICATION_OPENED" />
            </intent-filter>
        </receiver>

        <!-- Appsee -->
        <service android:name="com.appsee.AppseeBackgroundUploader" />

        <!-- Appboy -->
        <receiver android:name="com.appboy.AppboyGcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.endeal.patron" />
            </intent-filter>
        </receiver>

        <!-- The Login Screen Activity -->
        <activity
            android:name="com.endeal.patron.activity.LoginActivity"
            android:label="@string/globalAppName"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/globalAppName">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Vouchers Screen Activity -->
        <activity
            android:name="com.endeal.patron.activity.VouchersActivity"
            android:label="@string/titleActivityVouchers"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.endeal.patron.main.FlashLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.endeal.patron.activity.LoginActivity" />
        </activity>

        <!-- The Create Account Screen Activity -->
        <activity
            android:name="com.endeal.patron.activity.CreateAccountActivity"
            android:label="@string/titleActivityCreateAccount"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.endeal.patron.main.FlashLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.endeal.patron.activity.LoginActivity" />
        </activity>

        <!-- The Menu Screen Activity -->
        <activity
            android:name="com.endeal.patron.activity.MenuActivity"
            android:label="@string/titleActivityMenu"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!-- The Cart Screen Activity -->
        <activity
            android:name="com.endeal.patron.activity.ReviewActivity"
            android:label="@string/titleActivityCart"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.endeal.patron.activity.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.endeal.patron.activity.MenuActivity" />
        </activity>

        <!-- The Vendors Screen Activity -->
        <activity
            android:name="com.endeal.patron.activity.VendorsActivity"
            android:label="@string/titleActivityLocations"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.endeal.patron.activity.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.endeal.patron.activity.MenuActivity" />
        </activity>

        <!-- The Orders Screen Activity -->
        <activity
            android:name="com.endeal.patron.activity.OrdersActivity"
            android:label="@string/titleActivityOrders"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!-- The Settings Activity -->
        <activity
            android:name="com.endeal.patron.activity.SettingsActivity"
            android:label="@string/titleActivitySettings"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!-- The Facebook Login Activity -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/titleActivityFacebook"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:parentActivityName="com.endeal.patron.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.endeal.patron.activity.LoginActivity" />
        </activity>

        <!-- The Twitter Login Activity -->
        <activity
            android:name="com.twitter.sdk.android.core.identity.OAuthActivity"
            android:label="@string/titleActivityTwitter"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.endeal.patron.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.endeal.patron.activity.LoginActivity" />
        </activity>

        <!-- The Twitter Share E-mail Activity -->
        <activity
            tools:replace="android:label"
            android:name="com.twitter.sdk.android.core.identity.ShareEmailActivity"
            android:label="@string/titleActivityTwitterShareEmail"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.endeal.patron.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.endeal.patron.activity.LoginActivity" />
        </activity>

    </application>

</manifest>
